.exemple {
    color: #FFF;
    text-align: center;
}

.exemple-item {
    display: inline;
}
.exemple-item_first {
    background-color: #FAA116;
}
.exemple-item_second {
    background-color: #57C7C3;
}
.exemple-item_third {
    background-color: #3B97D3;
}
h3 {
    text-align: center;
    padding: 2rem;
}